In [1]:
import numpy as np
import pandas as pd

def main():
    data = np.array([[1000, 25], [280, 120], [900, 30]])
    index = ["store1", "store2", "store3"]
    columns = ["unit price", "number"]
    
    df = pd.DataFrame(data, index, columns)
    print("Original Data")
    display(df)
    
    df2 = df
    df2["total price"] = df2["unit price"] * df2["number"]
    print("\nTotal Price")
    display(df2)
    
    df3 = df2.sort_values(by = "total price", ascending = False)
    df3 = df3.head(2)
    print("\n2 Stores with Higest Total Price")
    display(df3)
    

if __name__ == "__main__":
    main()

Original Data

        unit price  number
store1        1000      25
store2         280     120
store3         900      30

Total Price

        unit price  number  total price
store1        1000      25        25000
store2         280     120        33600
store3         900      30        27000

2 Stores with Higest Total Price

        unit price  number  total price
store2         280     120        33600
store3         900      30        27000